@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.img3 {
  background-image: url("https://cdn.glitch.com/86a4b73f-35e7-4f9a-9966-da0a4a9b7ac9%2F18520.jpg?v=1611674819535");

    /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -20;
  position: fixed;
  margin: 0;
}
body {
  font-family: 'Varela Round', sans-serif;
}
.block {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
  font-size: 100px;
  background: linear-gradient(216deg, #1bc857, #000000);
  background-size: 400% 400%;

  animation: TitleAnimation 15s ease infinite;
  -webkit-background-clip: text;
  color: transparent;
}

.more {
  color: gray;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
  font-size: 20px;
  text-align: center;
  font-smooth: 10em;
}

@keyframes TitleAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
